{% extends "AnhTiedContentBundle:Admin:layout.html.twig" %}

{% use "AnhContentBundle:Admin:paper/init-add-edit.html.twig" %}

{% form_theme form 'AnhTiedContentBundle:Form:tie.html.twig' %}

{% block title %}New parent in {{ section }}{% endblock %}

{% block content %}
    <h2>New parent in {{ section }}</h2>

    {{ form(form) }}

    {% include "AnhContentBundle:Admin:paper/uploader-template.html.twig" %}
{% endblock %}
