{% extends 'AnhAdminBundle::base.html.twig' %}

{% block body %}
    <h1>
        AnhTiedContentBundle
        <a href="{{ url('anh_admin') }}"><i class="fa fa-level-up"></i></a>
    </h1>

    Sections:
    {% for section in tied_sections %}
        <a href="{{ url('anh_tied_content_admin_parent_list', { 'section': section }) }}">{{ section }}</a>
    {% endfor %}

    {% block content '' %}
{% endblock %}
