<div class="tied-content-navigation">
    {% if navigation.prev %}
        <a class="icon-prev" href="{{ contentUrl(navigation.prev) }}">&larr; prev</a>
    {% else %}
        <span class="icon-prev disabled">&larr; prev</span>
    {% endif %}

    <a class="icon-toc" href="{{ contentUrl(parent) }}">content</a>

    {% if navigation.next %}
        <a class="icon-next" href="{{ contentUrl(navigation.next) }}">next &rarr;</a>
    {% else %}
        <span class="icon-next disabled">next &rarr;</span>
    {% endif %}
</div>
