{% extends 'AnhContentBundle:Default:layout.html.twig' %}

{% block title %}{{ category.title }}{% endblock %}

{% block content %}
    <h1>{{ category.title }}</h1>

    {% for tie in resources %}
        {% include 'AnhTiedContentBundle:Default:_blockParent.html.twig' %}
    {% endfor %}
{% endblock %}
