{% extends 'AnhContentBundle:Default:layout.html.twig' %}

{% block title %}{{ parent.title }}{% endblock %}

{% block content %}
    <h1>{{ parent.title }}</h1>

    <ul>
        {% for tie in children %}
            {% include 'AnhTiedContentBundle:Default:_blockChild.html.twig' %}
        {% endfor %}
    </ul>
{% endblock %}
